@import url('https://fonts.googleapis.com/css?family=Raleway:700&display=swap');
body{
    background: url('./images/bgNodes.jpg');
}
.nodeBg{
    background: url('./images/bgNodes.jpg');
    background-position: center;
}
.transpOrangeBg{
    background: rgba(238, 90, 36, .3)
}
.raleway{
    font-family: 'Raleway', sans-serif;
}

.redBg{
    background: red;
}
.orangeBg{
    background: rgb(255, 122, 74)
}
.fill{
    min-height: 60vh;
    height: 100%;
  }
body, html, h1, h2, h3, h4, h5, h6, ul, li{
    padding: 0;
    margin:0;
    float:none;
}
a{
    color:inherit!important;

}
a:hover{
    text-decoration: none;
}
.noPadding{
    padding: 0%;
}
.mwidth{
    width: 100%!important;
    max-width: 100%!important;

}
.blackBg{
    background: #000000;
}
.white-text{
    color: #ffffff!important;
}
::-webkit-scrollbar {
    display: none;
}
body{
    max-width: 100%;
}
.greyBg{
    background: rgba(0,0,0,0.9)
}
.goFront{
    z-index: 100;
}
.regularText{
    font-size: 1.5rem;
}
.gradientHover:hover{
    /*background: rgb(255,174,6);*/
    background: linear-gradient(90deg, rgba(255,174,6,1) 0%, rgba(255,62,43,1) 100%);
    color: white;
    border-color: #ffffff;

}
.greyColor{
    color: #616161;
}
.gradientBg{
    background: linear-gradient(90deg, rgba(255,174,6,1) 0%, rgba(255,62,43,1) 100%);

}
.customButton{
border-radius: 6px;
border:none;
text-transform: uppercase;
color:#ffffff;
background-size: 200%;
transition: 0.6s;
}
.menuButton{
    background: inherit;
    color:#616161; 
    border-color: white;
}

.gradientButton{
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}
.customButton:hover{
    background-position: right;
}
.outlineButton{
    border-color: #EE5A24;
    border-width:1px;
    background-image: linear-gradient(to left, #ffffff,#ffffff);
    border-radius: 6px;
    text-transform: uppercase;
    color: #EE5A24;
    background-size: 200%;
    transition: 0.3s;
}
.outlineWhiteButton{
    border-color: white;
    border-width:1px;
    border-radius: 6px;
    background: inherit;
    text-transform: uppercase;
    color: white;
    background-size: 200%;
    transition: 0.3s;
}
.outlineWhite:hover{
    border-color: #ffffff;
    border-width:1px;
    color:#EE5A24;
    background: #ffffff;
    transition: 0.3s;

}
.outlineGradient:hover{
    border-color: #EE5A24;
    border-width:1px;
    color:#ffffff;
    background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
    transition: 0.3s;

}
.orangeText{
    color:#EE5A24!important;
}
.blueText{
    color:#0465b2
}
.orangeBorder{
    border-color: #EE5A24;
    border-width: 1px;
}
.pre-formatted {
    white-space: pre;
  }